{{define "about"}}
<div class="border rounded d-flex justify-content-end p-2">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            <a role="button" class="btn btn-secondary" href="https://t.me/DeerBS">
                Made by L11R
            </a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary btn-clipboard" data-clipboard-text="/ws_0sARk"
                    data-toggle="tooltip" data-placement="top" title="Copied!">
                My shop
            </button>
            <a role="button" class="btn btn-warning" href="https://paypal.me/krasovsky">
                Donate
            </a>
        </div>
    </div>
</div>
{{end}}