{{define "menu"}}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/">Main</a>
        <a class="dropdown-item" href="/resources">Resources</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/login">Login</a>
        <!--<a class="dropdown-item" href="/alchemist">Alchemist</a>-->
    </div>
</div>
{{end}}