{{define "resources"}}
{{template "header" .}}

<div id="goods">
    <div class="full-width">
        <input type="text" class="search" placeholder="Search"/>
        <a href="/" class="menu">Main</a>
        <!--<a href="/alchemist" class="menu">Alchemist</a>-->
    </div>
    <ul class="list">
    {{range .}}
        <li>
            <h2 class="name">{{.Name}}</h2>
            <p>ID: <b class="id">{{.ID}}</b></p>

            <br/>

            <ul class="recipe">
            {{range $key, $value := .Recipe}}
                <li><input type="checkbox"/><label>{{$key}} x {{$value}}</label></li>
            {{end}}
            </ul>

            <br/>

        {{if .ShowBasics}}
            <details>
                <summary>Basics</summary>
                <ul class="basics">
                {{range $key, $value := .Basics}}
                    <li><input type="checkbox"/><label>{{$key}} x {{$value}}</label></li>
                {{end}}
                </ul>
            </details>

            <br/>
        {{end}}

            <details>
                <summary>Craft</summary>
                <ul class="craft">
                {{range .Commands}}
                    <li><label><b>{{.Name}}</b> ({{.CommandManaCost}}💧️):</label><textarea rows="1" cols="15" readonly
                                                                                            onclick="this.focus();this.select()">/craft_{{.ID}} {{.Amount}}</textarea>
                    </li>
                {{end}}
                    <li><b>Total:</b> {{.TotalManaCost}}💧️</li>
                </ul>
            </details>
        </li>
    {{end}}
    </ul>
    <button class="btn" data-clipboard-text="/ws_0sARk">
        Copy to clipboard my shop link 😉
    </button>
    <div class="copied">Copied!</div>
    <p class="about">
        Made by <a href="https://t.me/DeerBS">Lord Protector</a>
    </p>
</div>
<script src="resources.js"></script>

{{template "footer" .}}
{{end}}